.single-note-container {
    padding: 9vh 9vw;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 15vh auto;
    width:fit-content;
display: flex;
justify-content: center;
}

.note-content {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.note-title {
    /* align-items: center; */
    margin: auto;
    font-size: 2rem;
    color: #333;
}

.note-description {
    font-size: 1rem;
    color: #666;
}

.button-group {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px; /* Adds space between buttons */
}

/* .btn {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
} */

/* .btn-info {
    background-color: #17a2b8;
}

.btn-danger {
    background-color: #dc3545;
} */
