.single-note-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
    /* Adjust as needed for margin from navbar */
    min-height: 80vh;
    /* Ensures the container takes most of the viewport height */
    padding: 1rem;
    border: 1px solid white;
}

.note-content {
    text-align: center;
    max-width: 600px;
    /* Optional: limits the width of the content for better readability */
    margin: 0 1rem;
    /* Optional: adds horizontal margin */
}

.note-title {
    font-size: 2rem;
    margin-bottom: 1rem;
    word-wrap: break-word;
    /* Ensures long words are wrapped */
}

.note-description {
    font-size: 1.2rem;
    word-wrap: break-word;
    /* Ensures long words are wrapped */
}